:root {
    --banner-background: #3b3b3b;
    --banner-font-color: #FFF;
    --banner-block-all-buttom: #ff4545;
    --banner-block-all-buttom-hover: #b73131;
    --banner-accept-all-buttom: #b5ff45;
    --banner-accept-all-buttom-hover: #6c9828;
    --banner-save-buttom: #45ffe3;
    --banner-save-buttom-hover: #2a9f8d;
    --banner-button-border: black;
    --banner-button-font-color: black;
}

#cookieBanner .bottom {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: min-content;
    max-height: 200px;
    background: var(--banner-background);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--banner-font-color);
}

#cookieBanner .bottom a {
    color: var(--banner-font-color);
}

#cookieBanner .bottom .text {
    width: 75%;
    padding: 20px;
}

#cookieBanner .bottom .checks {
    padding: 20px;
}

#cookieBanner .bottom .checkboxes {
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#cookieBanner .bottom .checkbox {
    padding: 2px;
}

#cookieBanner .bottom .checkbox input{
    margin-right: 5px;
}

#cookieBanner .bottom .buttons {
    padding: 2px;
    display: flex;
    justify-content: space-between;;
}

#cookieBanner .bottom button {
    border-radius: 25px;
    box-shadow: none;
    border: 2px solid var(--banner-button-border);
    padding: 5px;
    margin-right: 5px;
    width: max-content;
    color: var(--banner-button-font-color);
}

@media screen and (max-device-width: 800px) {
    #cookieBanner .bottom {
        max-height: max-content;
        flex-direction: column;
        font-size: 15px;
        width: 100vw;
        bottom: 0;
    }

    #cookieBanner .bottom .text {
        width: 90%;
    }

    #cookieBanner .bottom .checks {
        width: 90%;
    }

    #cookieBanner .bottom .checks input {
        height: 20px;
        width: 20px;
    }
}

#blockAll {
    background-color: var(--banner-block-all-buttom);
}

#blockAll:hover {
    background-color: var(--banner-block-all-buttom-hover);
}

#acceptAll {
    background-color: var(--banner-accept-all-buttom);
}

#acceptAll:hover {
    background-color: var(--banner-accept-all-buttom-hover);
}

#saveBanner {
    background-color: var(--banner-save-buttom);
}

#saveBanner:hover {
    background-color: var(--banner-save-buttom-hover);
}