#cookieBanner .bottom {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 100px;
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom .text {
    width: 75%;
}

.bottom .check {
    width: 25%;
}